html, body {
    margin: auto;
    height: auto;
    background-color:brown;
}

aside {
    background-color: #428a91;
    color: #f0f1c7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 30vw;
    font-size: clamp(0.5rem, 1.5vw, 1.8rem);
}

aside > :first-child {
    align-self: center;
}

aside a {
    color: #f0f1c7;
    text-decoration: none;
}

aside h1 {
    font-size: clamp(1rem, 2.2vw, 2.5rem);
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #f0f1c7;
}

main {
    display: flex;
    width: 100vw;

    flex-direction: column;
    background-color:bisque;
}

.page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100dvh;
}

.pfp {
    width: clamp(2rem, 4vw, 4rem);
    height: clamp(2rem, 4vw, 4rem);
    border-radius: 50%;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.icon-link {
    width: clamp(0.5rem, 1.5vw, 1.8rem);
    height: clamp(0.5rem, 1.5vw, 1.8rem);
    /* Filter color from generator @ https://codepen.io/sosuke/pen/Pjoqqp*/
    filter: brightness(0) saturate(100%) invert(97%) sepia(3%) saturate(2092%) hue-rotate(9deg) brightness(100%) contrast(93%);
}

.black-icon {
    width: clamp(2rem, 4vw, 4rem);
    height: clamp(2rem, 4vw, 4rem);
}

.logo {
    width: clamp(1rem, 2.6vw, 3rem);
    height: clamp(1rem, 2.6vw, 3rem);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-notifs {
    flex-grow: 1;
}

.searchbar {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.searchbar input {
    width: 100%;
    max-width: 35vw;
    padding: 0.5rem;
    border-radius: 50px;
    border: 1px solid #ccc;
}

.user-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.navbar ul{
    display: flex;
    flex-direction: column;
    row-gap: 0.1rem;
}

.navbar li {
    padding: 0.5rem 0;
    list-style-type: none;
}

.dashboard-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}